extends layout

block content
	.row
		h1 Instructions

	.row
		p To generate a shorten url, do this:
		code https://rocky-sea-29894.herokuapp.com/new/URL

	.row
		p.top15 To access the shorten link, do this:
		code https://rocky-sea-29894.herokuapp.com/:code

